<app-navbar></app-navbar>

    <div class="container">
    <app-searchbar [currentPage]="'catalogo'"></app-searchbar>

        <h2>Administrar Catálogo Bibliotecario</h2>

        <div class="book-list">
            <app-catalogo-item *ngFor="let book of bookList" [book]="book" (actionEvent)="handleActionEvent($event)"></app-catalogo-item>
        </div>

        <app-pagination [currentPage]="currentPage" [totalPages]="totalPages" (pageChange)="changePage($event)"></app-pagination>
    </div>

    <!-- Icono + -->
    <app-add-icon (addEvent)="openABMbookModal($event, 'create')"></app-add-icon>