<h2 mat-dialog-title class="modal-title">{{ formTitle }}</h2>
<form [formGroup]="formEntity" (ngSubmit)="saveChanges()" class="mat-form">
    <mat-dialog-content class="mat-content">

        <!-- Formulario para Libros -->
        <div *ngIf="data.formType === 'book'">
            <mat-form-field class="full-width">
                <mat-label>Imágen del Libro</mat-label>
                <input matInput formControlName="img" placeholder="Ingrese el título">
                <mat-error *ngIf="formEntity.get('img')?.invalid">Este campo es requerido.</mat-error>
            </mat-form-field>
            
            <mat-form-field class="full-width">
                <mat-label>Título del Libro</mat-label>
                <input matInput formControlName="titulo" placeholder="Ingrese el título">
                <mat-error *ngIf="formEntity.get('titulo')?.invalid">Este campo es requerido.</mat-error>
            </mat-form-field>

            <mat-form-field class="full-width">
                <mat-label>Autor</mat-label>
                <input matInput type="number" formControlName="autor" placeholder="Ingrese el autor">
                <mat-error *ngIf="formEntity.get('autor')?.invalid">Este campo es requerido.</mat-error>
            </mat-form-field>

            <mat-form-field class="full-width">
                <mat-label>Editorial</mat-label>
                <input matInput formControlName="editorial" placeholder="Ingrese la editorial">
                <mat-error *ngIf="formEntity.get('editorial')?.invalid">Este campo es requerido.</mat-error>
            </mat-form-field>

            <mat-form-field class="full-width">
                <mat-label>Género</mat-label>
                <input matInput formControlName="genero" placeholder="Ingrese el género">
                <mat-error *ngIf="formEntity.get('genero')?.invalid">Este campo es requerido.</mat-error>
            </mat-form-field>

            <mat-form-field class="full-width">
                <mat-label>Sinopsis</mat-label>
                <textarea matInput formControlName="sinopsis" placeholder="Ingrese la sinopsis"></textarea>
                <mat-error *ngIf="formEntity.get('sinopsis')?.invalid">Este campo es requerido.</mat-error>
            </mat-form-field>

            <!-- Este campo solo lo verá un administrador -->
            <mat-form-field *ngIf="isAdmin()" class="full-width">
                <mat-label>Cantidad</mat-label>
                <input matInput formControlName="cantidad" type="number" placeholder="Ingrese la cantidad">
                <mat-error *ngIf="formEntity.get('cantidad')?.invalid">Este campo es requerido.</mat-error>
            </mat-form-field>
        </div>

        <!-- Formulario para Préstamos -->
        <div *ngIf="data.formType === 'loan'">
            <mat-form-field class="full-width">
                <mat-label>Usuario</mat-label>
                <input matInput type="number" formControlName="usuario" placeholder="Ingrese el id del usuario">
                <mat-error *ngIf="formEntity.get('usuario')?.invalid">Este campo es requerido.</mat-error>
            </mat-form-field>
            
            <mat-form-field class="full-width">
                <mat-label>Libro</mat-label>
                <input matInput type="number" formControlName="libro" placeholder="Ingrese el id del libro">
                <mat-error *ngIf="formEntity.get('libro')?.invalid">Este campo es requerido.</mat-error>
            </mat-form-field>


            <mat-form-field class="full-width">
                <mat-label>Fecha de Inicio</mat-label>
                <input matInput formControlName="inicio_prestamo" type="date" placeholder="Seleccione fecha de inicio">
                <mat-error *ngIf="formEntity.get('inicio_prestamo')?.invalid">Este campo es requerido.</mat-error>
            </mat-form-field>

            <mat-form-field class="full-width">
                <mat-label>Fecha de Fin</mat-label>
                <input matInput formControlName="fin_prestamo" type="date" placeholder="Seleccione fecha de fin">
                <mat-error *ngIf="formEntity.get('fin_prestamo')?.invalid">Este campo es requerido.</mat-error>
            </mat-form-field>

            <mat-form-field class="full-width">
                <mat-label>Estado</mat-label>
                <mat-select formControlName="estado" placeholder="Seleccione el estado">
                    <mat-option value="Activo">Activo</mat-option>
                    <mat-option value="Desactivo">Desactivo</mat-option>
                </mat-select>
                <mat-error *ngIf="formEntity.get('estado')?.invalid">Este campo es requerido.</mat-error>
            </mat-form-field>
        </div>

        <!-- Formulario para Usuarios -->
        <div *ngIf="data.formType === 'user'">
            <mat-form-field class="full-width">
                <mat-label>Imágen de Perfil</mat-label>
                <input matInput formControlName="img" placeholder="Ingrese assets/img">
                <mat-error *ngIf="formEntity.get('img')?.invalid">Este campo es requerido.</mat-error>
            </mat-form-field>

            <mat-form-field class="full-width">
                <mat-label>Usuario</mat-label>
                <input matInput type="text" formControlName="user" placeholder="Ingrese el nombre de usuario">
                <mat-error *ngIf="formEntity.get('user')?.invalid">Este campo es requerido.</mat-error>
            </mat-form-field>

            <mat-form-field class="full-width">
                <mat-label>Constraseña</mat-label>
                <input matInput type="password" formControlName="contraseña" placeholder="Ingrese la contraseña">
                <mat-error *ngIf="formEntity.get('contraseña')?.invalid">Este campo es requerido.</mat-error>
            </mat-form-field>

            <mat-form-field class="full-width">
                <mat-label>Nombre</mat-label>
                <input matInput formControlName="nombre" placeholder="Ingrese el nombre">
                <mat-error *ngIf="formEntity.get('nombre')?.invalid">Este campo es requerido.</mat-error>
            </mat-form-field>

            <mat-form-field class="full-width">
                <mat-label>Apellido</mat-label>
                <input matInput formControlName="apellido" placeholder="Ingrese el apellido">
                <mat-error *ngIf="formEntity.get('apellido')?.invalid">Este campo es requerido.</mat-error>
            </mat-form-field>

            <mat-form-field class="full-width">
                <mat-label>DNI</mat-label>
                <input matInput formControlName="dni" type="number" placeholder="Ingrese el DNI">
                <mat-error *ngIf="formEntity.get('dni')?.invalid">Este campo es requerido.</mat-error>
            </mat-form-field>

            <mat-form-field class="full-width">
                <mat-label>Teléfono</mat-label>
                <input matInput formControlName="telefono" type="tel" placeholder="Ingrese el teléfono">
                <mat-error *ngIf="formEntity.get('telefono')?.invalid">Este campo es requerido.</mat-error>
            </mat-form-field>

            <mat-form-field class="full-width">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" placeholder="Ingrese el email">
                <mat-error *ngIf="formEntity.get('email')?.invalid">Este campo es requerido.</mat-error>
            </mat-form-field>

            <!-- Solo los administradores pueden ver y modificar el rol -->
            <mat-form-field *ngIf="isAdmin()" class="full-width">
                <mat-label>Rol</mat-label>
                <mat-select formControlName="rol" placeholder="Seleccione un rol">
                    <mat-option value="Admin">Admin</mat-option>
                    <mat-option value="Usuario">Usuario</mat-option>
                    <mat-option value="Bibliotecario">Bibliotecario</mat-option>
                </mat-select>
                <mat-error *ngIf="formEntity.get('rol')?.invalid">Este campo es requerido.</mat-error>
            </mat-form-field>

            <mat-form-field class="full-width">
                <mat-label>Estado</mat-label>
                    <mat-select formControlName="estado" placeholder="Seleccione el estado">
                        <mat-option [value]="true">Desbloqueado</mat-option>
                        <mat-option [value]="false">Bloqueado</mat-option>
                    </mat-select>
                <mat-error *ngIf="formEntity.get('estado')?.invalid">Este campo es requerido.</mat-error>
            </mat-form-field>
        </div>
    </mat-dialog-content>

    <mat-dialog-actions class="mat-footer">
        <button mat-button (click)="closeModal()">Cancelar</button>
        <button mat-button (click)="saveChanges()">Guardar</button>
    </mat-dialog-actions>
</form>