/* Reset básico */

body {
    background-color: #333; /* Color de fondo general */
    color: #f1f1f1; /* Color de texto predeterminado */
    font-family: Arial, sans-serif;
    line-height: 1.5;
}

a {
    text-decoration: none;
}

/* Navbar Styles */
.navbar {
    background-color: #6C6C6C;
    border-radius: 25px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .navbar-brand {
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    padding: 5px 15px;
    border-radius: 15px;
    transition: background-color 0.3s, color 0.3s;
    margin-right: auto; 
}

.navbar .navbar-brand:hover {
    background-color: #F5F378;
    color: #ffffff;
}

.navbar .navbar-nav .nav-link {
    color: #ffffff;
    font-weight: normal;
    font-size: 18px;
    padding: 5px 15px;
    border-radius: 15px;
    transition: background-color 0.3s, color 0.3s;
}

.navbar .navbar-nav .nav-link:hover {
    background-color: #F5F378;
    color: #ffffff;
}

.navbar .fa-book {
    font-size: 24px;
    margin-right: 10px;
}

.notification-button {
    background-color: transparent;
    border: none;
    color: #ffffff;
    font-size: 20px;
    margin-right: 10px; /* Space between notification and hamburger */
}

/* Top categories */
.top-categories {
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #464646;
    flex-wrap: wrap;
    margin: 0;
}

.category-btn {
    background-color: #666;
    border: 1px solid #F5F378;
    margin: 0 50px;
    padding: 10px 20px;
    border-radius: 30px;
    color: #f1f1f1;
    cursor: pointer;
    flex: 1 1 auto;
    min-width: 150px;
}
@media (max-width: 576px) {
    .category-btn {
        min-width: 120px; 
    }
}

.category-btn:nth-child(1) { border-color: #F5F378; }
.category-btn:nth-child(2) { border-color: #A0F199; }
.category-btn:nth-child(3) { border-color: #DCC1FF; }
.category-btn:nth-child(4) { border-color: #F5F378; }
.category-btn:nth-child(5) { border-color: #A0F199; }
.category-btn:nth-child(6) { border-color: #DCC1FF; }

/* Books section */
.books-section {
    margin: 20px;
}

.book-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

/* Estilos para la reseña con estrellas */
.review-rating {
    color: #ffdd57; 
    font-size: 14px;
}

.review-rating i {
    margin-right: 5px;
}

/* Estilo del icono de guardar */
.save-icon {
    color: #f1f1f1;
    font-size: 18px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.save-icon:hover {
    color: #f5c542; 
}

.books-section h2 {
    margin-bottom: 10px;
    font-size: 22px;
}

/* Card de cada libro */
.book-list {
    display: flex;
    overflow-x: auto;
}

.book-item {
    flex-shrink: 0;
    width: 200px;
    margin-right: 20px;
    background-color: #444;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.book-item:hover {
    transform: translateY(-10px);
}

.book-item img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.book-item p {
    font-size: 14px;
    color: #f1f1f1;
    text-align: center;
    margin-bottom: 5px;
}

.book-item span {
    font-size: 12px;
    color: #ccc;
}

/* Ajustes responsivos */
@media (max-width: 768px) {
    .top-categories {
        flex-direction: column;
        align-items: center;
    }

    .book-item {
        width: 150px;
        margin-right: 20px;
    }

    .notification-button {
        margin-right: 10px;
    }
}

@media (max-width: 480px) {
    .book-item {
        width: 120px;
    }
}

/* Cards */
.card {
    background-color: #444 !important; 
    border: none;
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    max-width: 100%;
}

.card:hover {
    transform: translateY(-10px); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
}

.card-body {
    background-color: #444 !important;
    color: #f1f1f1;
    border-radius: 0 0 15px 15px;
    padding: 10px;
    text-align: center;
}

.card-img-top {
    border-radius: 15px 15px 0 0; 
}

.card-title, .card-text {
    color: #f1f1f1; 
    margin: 0;
}

/* Scroll bar */
.row::-webkit-scrollbar {
    display: none; 
}


/* Modal */
.modal-dialog {
    max-width: 50%;
    margin: 5vh auto; 
    width: 500px;
}

.modal-content {
    background-color: #222; 
    color: #fff; 
    border-radius: 8px; 
    padding: 3px; 
    min-height: 10vh; 
}

/* Estilo para la imagen en el modal */
.modal-body img {
    width: 50%;
    height: auto; 
    border-radius: 5px;
    margin-bottom: 15px;
}

.modal-header {
    border-bottom: none; 
}

.modal-title {
    font-size: 1.5rem; 
}

.modal-body {
    margin-top: 20px;
}

.modal-footer {
    border-top: none;
    justify-content: center;
}

.btn-warning {
    background-color: #F5F378 !important;
    color: #333 !important; 
    border: none !important; 
    font-weight: bold;
}

.btn-warning:hover {
    background-color: #e5e05e !important; 
    color: #333 !important; 
}

.btn-warning:active {
    background-color: #e5e05e !important; 
    color: #ffffff !important;
}