
<!-- Navbar -->
<app-navbar></app-navbar>

    <div class="container-fluid h-100 d-flex align-items-center justify-content-center mt-5">
        <div class="container my-4">
            <div class="admin-tools">
                <div class="row g-3">
                    <!-- Botones en una columna -->
                    <app-option-button label="Administrar Usuarios" link="/users"></app-option-button>
                    <app-option-button label="Administrar Bibliotecarios" link="/users"></app-option-button>
                    <app-option-button label="Administrar Préstamos" link="/prestamo/1/admin"></app-option-button>
                    <app-option-button label="Administrar Catálogo" link=""></app-option-button>
                    <app-option-button label="Administrar Reseñas" link="/review"></app-option-button>
                </div>
            </div>
        </div>
    </div>