    <!-- Navbar -->
    <nav class="navbar navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" routerLink="/perfil">
                <img src="assets/user.jpeg" alt="User" class="rounded-circle me-2" width="40">
                <span>Vicente</span>
            </a>
            <div class="d-flex align-items-center ms-auto">
                <a routerLink="/notificaciones">
                    <button class="notification-button">
                        <i class="fa-solid fa-bell"></i>
                    </button>
                </a>
                <button class="navbar-toggler ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbarNav">
                <div class="navbar-nav">
                    <a class="nav-link d-flex align-items-center" routerLink="/home">
                        <i class="fa-solid fa-house"></i>
                        <span class="ms-2">Home</span>
                    </a>
                    <a class="nav-link d-flex align-items-center" routerLink="/search">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <span class="ms-2">Search</span>
                    </a>
                    <a class="nav-link d-flex align-items-center" routerLink="/save">
                        <i class="fa-solid fa-bookmark"></i>
                        <span class="ms-2">Saved</span>
                    </a>
                    <a class="nav-link d-flex align-items-center" routerLink="/tools">
                        <i class="fa-solid fa-gear"></i>
                        <span class="ms-2">Tools</span>
                    </a>
                    <a class="nav-link d-flex align-items-center" routerLink="/prestamo">
                        <i class="fa-solid fa-book"></i>
                        <span class="ms-2">Loans</span>
                    </a>
                </div>
            </div>
        </div>
    </nav>