
    <!-- Navbar -->
<app-navbar></app-navbar>


    <!-- Contenedor principal -->
    <div class="container mt-3">
        <app-searchbar (searchEvent)="handleSearch($event)"></app-searchbar>

        <h2>Administrar Usuarios</h2>
        <!-- Lista de usuarios -->
        <section class="user-adm" *ngFor="let user of usersList">
            <app-user-item [user]="user" [isReviewPage]="false" [showDropdown]="true" (actionEvent)="handleActionEvent($event)"></app-user-item> 
        <section>
    <div>
    <!-- Modal Agregar Usuario-->
    <app-add-icon (addEvent)="openABMUserModal($event, 'create')"></app-add-icon>