h3 {
    font-size: 20px;
    margin-bottom: 20px;
    color: #f1f1f1;
}

/* Boton pildora */
.rounded-button {
    display: inline-block; 
    background-color: #444; 
    color: #ffffff;
    padding: 15px 30px; 
    border-radius: 30px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    text-align: center; 
    text-decoration: none; 
    transition: background-color 0.3s ease, transform 0.3s ease; 
    cursor: pointer;
    border: none; 
    font-size: 16px; 
    font-weight: bold; 
    display: flex; 
    align-items: center; 
    justify-content: center;
    margin: 15px;
}

.rounded-button:hover {
    background-color: #e5e05e; /* Color de fondo al pasar el mouse */
}

.rounded-button:active {
    background-color: #F5F378; /* Color de fondo al hacer clic */
    transform: scale(0.98); /* Escala ligeramente el botón al hacer clic */
}

.dropdown {
    position: relative;
}

.dropdown-item {
    display: flex;
    background-color: #6C6C6C;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative; 
    transition: transform 0.3s ease;
    flex-wrap: wrap;
    text-align: center;
    margin: 5px;
    color: #ffffff;
}

.dropdown-menu{
    display: flex;
    background-color: #444;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative; 
    transition: transform 0.3s ease;
    flex-wrap: wrap;
    text-align: center;
}

.dropdown-menu.show {
    display: block;
}

.book-img {
    width: 80px;
    height: 100px;
    margin-right: 20px;
    border-radius: 10px;
}