<app-navbar></app-navbar>
<div class="container mt-3">
    <app-searchbar></app-searchbar>

    <h2 class="fw-regular">Search</h2>

    <!-- Explorar Géneros -->
    <div class="section-title">
        <h3>Explorar Géneros</h3>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="rounded-button">Acción</div>
            <div class="rounded-button">Fantasía</div>
            <div class="rounded-button">Policial</div>
        </div>
        <div class="col-6">
            <div class="rounded-button">Ciencia Ficción</div>
            <div class="rounded-button">Romance</div>
            <div class="rounded-button">Terror</div>
        </div>
    </div>

    <!-- Autores Más Buscados -->
    <div class="section-title">
        <h3>Autores Más Buscados</h3>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="rounded-button">J.K.Rowling</div>
            <div class="rounded-button">Edgar Allan Poe</div>
            <div class="rounded-button">Dan Brawn</div>
        </div>
        <div class="col-6">
            <div class="rounded-button">Ken Follet</div>
            <div class="rounded-button">J.R.R. Tolkien</div>
            <div class="rounded-button">Miguel de Cervantes</div>
        </div>
    </div>