
/* Books section */
.books-section {
    margin: 20px;
}

.books-section h2 {
    margin-bottom: 10px;
    font-size: 22px;
}

/* Scroll bar */
.row::-webkit-scrollbar {
    display: none; 
}


/* Modal */
.modal-dialog {
    max-width: 100%;
    margin: 5vh auto; 
    width: 500px;
}

.modal-content {
    background-color: #222; 
    color: #fff; 
    border-radius: 8px; 
    padding: 3px; 
    min-height: 10vh; 
}

/* Estilo para la imagen en el modal */
.modal-body img {
    width: 50%;
    height: auto; 
    border-radius: 5px;
    margin-bottom: 15px;
}

.modal-header {
    border-bottom: none; 
}

.modal-title {
    font-size: 1.5rem; 
}

.modal-body {
    margin-top: 20px;
}

.modal-footer {
    border-top: none;
    justify-content: center;
}

.btn-warning {
    background-color: #F5F378 !important;
    color: #333 !important; 
    border: none !important; 
    font-weight: bold;
}

.btn-warning:hover {
    background-color: #e5e05e !important; 
    color: #333 !important; 
}

.btn-warning:active {
    background-color: #e5e05e !important; 
    color: #ffffff !important;
}