
    <!--Wellcome-->
    <div class="d-flex justify-content-center align-items-end banner-container2 text-center">
        <div class="overlay"></div>
        <h1>Create<br> an <span style="color: #F5F378;">account</span></h1>
        <div class="background-gradient"></div>
    </div>
    <!--Log in Form-->
    <div class="d-flex justify-content-center align-items-center">
        <div class="login-container">
            <form>
                <div class="mb-3">
                    <label for="fullname" class="form-label">Full name</label>
                    <input type="text" class="form-control" id="fullname" placeholder="Vicente Cara">
                </div>
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" placeholder="vit.cara">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="everland@gmail.com">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" placeholder=".................">
                </div>
                <a routerLink="/login">
                    <button type="button" class="btn btn-primary w-100">Create an account</button>    
                </a>
                
            </form>
            <div class="register-link">
                Already have an account<br>
                <a routerLink="/login">Sign in ></a>
            </div>
        </div>
    </div>
