
    <!--Wellcome-->
    <div class="d-flex justify-content-center align-items-end banner-container2 text-center">
        <div class="overlay"></div>
        <h1>Create<br> an <span style="color: #F5F378;">account</span></h1>
        <div class="background-gradient"></div>
    </div>
    <!--Log in Form-->
    <div class="d-flex justify-content-center align-items-center">
        <div class="login-container">
            <form [formGroup]="signInForm">
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" formControlName="user" id="username" placeholder="Ingrese el nombre de usuario">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" formControlName="contraseña" id="password" placeholder="Ingrese la contraseña">
                </div>
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" formControlName="nombre" id="name" placeholder="Ingrese el nombre">
                </div>
                <div class="mb-3">
                    <label for="lastname" class="form-label">Lastname</label>
                    <input type="text" class="form-control" formControlName="apellido" id="lastname" placeholder="Ingrese el apellido">
                </div>
                <div class="mb-3">
                    <label for="dni" class="form-label">dni</label>
                    <input type="number" class="form-control" formControlName="dni" id="dni" placeholder="Ingrese el DNI" min="10000000" max="99999999" step="1">
                </div>
                <div class="mb-3">
                    <label for="phone" class="form-label">Phone</label>
                    <input type="tel" class="form-control" formControlName="telefono" id="phone" placeholder="Ingrese el teléfono">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" formControlName="email" id="email" placeholder="Ingrese el email">
                </div>
                
            </form>   
            <button type="button" (click)="submit()" href="#" class="btn btn-primary w-100">Create an account</button> 
            <div class="register-link">
                Already have an account<br>
                <a routerLink="/login">Sign in ></a>
            </div>
        </div>
    </div>
