.loans {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Modal general */
.modal-dialog {
    max-width: 100%; 
    margin: 5vh auto; 
    width: 500px;
}

.modal-content {
    background-color: #222; 
    color: #fff; 
    border-radius: 8px; 
    padding: 3px;
    min-height: 10vh;
}

.modal-header {
    border-bottom: none;
}

.modal-title {
    font-size: 1.5rem;
    color: #F5F378;
    font-weight: bold;
}

.modal-body {
    margin-top: 20px; 
}

.modal-footer {
    border-top: none; 
    justify-content: center; 
}

.form-control {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    background-color: #555;
    color: #f1f1f1;
}

.form-select {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    background-color: #555;
    color: #f1f1f1;
}

.modal-body-input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    background-color: #555;
    color: #f1f1f1;
}

/* Modal Realizar reseña */
.rating {
    color: #F5F378;
}

.user-reviews {
    max-height: 400px;
    overflow: auto;
}

.review-item {
    background-color: #555;
    color: #f1f1f1;
    border-radius: 8px;
}

.review-item img {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.review-item p {
    margin-bottom: 0;
}
