    <!-- Navbar -->
<app-navbar></app-navbar>

    <!-- Contenedor Principal -->
    <div class="container mt-3">
        <!-- Barra de búsqueda -->
        <app-searchbar [currentPage]="'prestamo'"></app-searchbar>

        <h2>Préstamos</h2>

        <h3>Préstamos Activos</h3>

        <section class="loans">
            <app-loan-item 
                *ngFor="let loan of filteredLoans" 
                [loan]="loan"
                (actionEvent)="handleActionEvent($event)"
                (resena)="openRealizarResena($event)">
            </app-loan-item>
        </section>

        <h3 style="color:#EC704B">Préstamos Desactivos</h3>
        <section class="loans">
            <app-loan-item 
                *ngFor="let loan of filteredLoans" 
                [loan]="loan" 
                (actionEvent)="handleActionEvent($event)"
                (resena)="openRealizarResena($event)">
            </app-loan-item>
        </section>
    </div>

    <!-- Icono + -->
    <app-add-icon (addEvent)="openABMLoanModal($event, 'create')"></app-add-icon>
