    <!--Top Categories-->
    <section class="top-categories container-flex p-3">
        <div class="justify-content-between flex-wrap">
            <a href="../bootstrap/top.html">
                <button type="button" class="category-btn btn-warning mb-2">Top ✩</button>
                <button type="button" class="category-btn btn-secondary mb-2">Top</button>
                <button type="button" class="category-btn btn-secondary mb-2">Top</button>
                <button type="button" class="category-btn btn-secondary mb-2">Top</button>
                <button type="button" class="category-btn btn-secondary mb-2">Top</button>
                <button type="button" class="category-btn btn-secondary mb-2">Top</button>
            </a>
        </div>
    </section>
