body {
    font-family: Arial, sans-serif;
    background-color: #222;
    color: #fff;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    border: 10;
}

.search-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.search-bar input[type="text"], .search-bar input[type="date"] {
    width: 45%;
    padding: 10px;
    border: 1px solid #444;
    background-color: #333;
    color: #fff;
}

.filters {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
   
}

.filters label {
    margin-right: 10px;
}

.filters input[type="radio"] {
    margin-right: 5px;
}

.prestamo {
    background-color: #333;
    padding: 15px;
    margin-bottom: 20px;
    display: flex;
    border-radius: 8px;
}

.prestamo img {
    width: 100px;
    height: 130px;
    object-fit: cover;
    margin-right: 15px;
}

.prestamo .details {
    flex-grow: 1;
}

.prestamo .details p {
    margin: 5px 0;
}

.prestamo .details a {
    color: #00f;
    text-decoration: none;
}

.prestamo .details a:hover {
    text-decoration: underline;
}

.edit-link {
    margin-left: auto;
    align-self: self-end;
    color: #ff0;
    text-decoration: none;
    border: 10;
}

.edit-link:hover {
    text-decoration: underline;
}
