<div class="card h-100" tabindex="0" (click)="cardClick()">
    <img [src]="book.img" class="card-img-top" [alt]="book.titulo">
    <div class="card-body text-center">
    <h5 class="card-title" style="color: #F5F378;">{{ book.titulo }}</h5>
    <p class="card-text" *ngIf="book.autor && book.autor.length > 0">Autor: {{ book.autor[0].apodo }}</p>
    <p class="card-text">Editorial: {{ book.editorial }}</p>
    <p class="card-text">Genero: {{ book.genero }}</p>
        <div class="d-flex justify-content-between align-items-center">
            <span class="review-rating">
                <i class="fas fa-star"></i> {{ book.rating }}
            </span>
            <span class="save-icon">
                <i class="fas fa-bookmark"></i>
            </span>
        </div>
    </div>
</div>