<header>
    <div class="d-flex justify-content-center align-items-end banner-container2 text-center">
        <div class="overlay"></div>
        <h1>Wellcome!!<br> to <span style="color: #F5F378;">Everland Library</span></h1>
        <div class="background-gradient"></div>
    </div>
    </header>
    <!--Log in Form-->
    <div class="d-flex justify-content-center align-items-center">
        <div class="login-container">
            <form>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="everland@gmail.com">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" placeholder=".................">
                </div>
                <a href="../bootstrap/home.html">
                <button type="button" class="btn btn-primary w-100">Log In</button>  
                </a>
            
            </form>
            <div class="register-link">
                i don't have an account<br>
                <a href="../bootstrap/signup.htm">Sign up ></a>
            </div>
        </div>
    </div>