<h5 mat-dialog-title class="modal-title">Editar Préstamo</h5>
<div mat-dialog-content>
    <form>
        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Título del Libro</mat-label>
            <input matInput [(ngModel)]="data.bookTitle" name="bookTitle" required>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Inicio del Préstamo</mat-label>
            <input matInput [(ngModel)]="data.startDate" name="loanStart" type="date" required>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Fin del Préstamo</mat-label>
            <input matInput [(ngModel)]="data.endDate" name="loanEnd" type="date" required>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Estado</mat-label>
            <mat-select [(ngModel)]="data.status" name="loanStatus" required>
                <mat-option value="activo">Activo</mat-option>
                <mat-option value="desactivo">Desactivo</mat-option>
            </mat-select>
        </mat-form-field>
    </form>
</div>

<div mat-dialog-actions>
    <button mat-button (click)="closeModal()">Cancelar</button>
    <button mat-button (click)="saveChanges()">Guardar Cambios</button>
</div>