    <!-- Navbar -->
<app-navbar></app-navbar>


    <div class="container-fluid h-100 d-flex align-items-center justify-content-center mt-4">
        <div class="profile-container">
            <div class="profile">
                <!-- Título centrado -->
                <h2 class="profile-title">Mi Perfil</h2>
    
                <!-- Imagen de perfil -->
                <div class="profile-pic">
                    <img [src]="user?.img" alt="Foto de Perfil">
                </div>
    
                <!-- Nombre del usuario y botón de modificación -->
                <div class="profile-footer">
                    <p class="username">{{ user?.nombre || 'Usuario' }}</p>
                    <a class="edit-icon" (click)="openEditPerfilDialog($event)" style="cursor: pointer;">
                        <i class="fas fa-edit"></i>
                    </a>
                </div>
    
                <!-- Botones en una columna -->
                <div class="row g-3">
                    <app-option-button label="Información de la Cuenta" link="#"></app-option-button>
                    <app-option-button label="Historial de Préstamos" link="/prestamo"></app-option-button>
                    <app-option-button label="Historial de Reseñas" link="/review"></app-option-button>
                    <app-option-button label="Support" link="#"></app-option-button>
                    <app-option-button label="Acerca de la App" link="#"></app-option-button>
                    <div class="col-12">
                        <button type="button" (click)="cerrarSesion()" class="btn btn-warning w-20">Log out</button>    
                    </div>
                </div>
            </div>
        </div>
    </div>
