<app-navbar></app-navbar>
    <!-- main -->

    <div class="container mt-5">
    
        <h2 class="mb-4">Notificaciones</h2>

        <div class="notification-box mb-3 p-3">
            <button class="btn-close float-end" aria-label="Close"></button>
            <p>Hola Vicente, solo un recordatorio de que tienes un libro en préstamo: <strong>[Título del Libro]</strong>.<br>
            Recuerda devolverlo antes del <strong>[Fecha de Devolución]</strong>. ¡Gracias!</p>
        </div>

        <div class="notification-box mb-3 p-3">
            <button class="btn-close float-end" aria-label="Close"></button>
            <p>Hola Vicente, el plazo para devolver <strong>[Título del Libro]</strong> vence el <strong>[Fecha de Devolución]</strong>.<br>
            Por favor, entrégalo a tiempo.</p>
        </div>

        <div class="notification-box mb-3 p-3">
            <button class="btn-close float-end" aria-label="Close"></button>
            <p>Hola Vicente, tu préstamo del libro <strong>[Título del Libro]</strong> ha sido renovado. La nueva fecha de devolución es el <strong>[Nueva Fecha de Devolución]</strong>.<br>
            ¡Disfruta de la lectura!</p>
        </div>

        <div class="notification-box mb-3 p-3">
            <button class="btn-close float-end" aria-label="Close"></button>
            <p>Hola Vicente, solo un recordatorio de que tienes un libro en préstamo: <strong>[Título del Libro]</strong>.<br>
            Recuerda devolverlo antes del <strong>[Fecha de Devolución]</strong>. ¡Gracias!</p>
        </div>
    </div>