<h5 mat-dialog-title class="modal-title">Realizar Reseña</h5>

<div mat-dialog-content class="mat-content">
    <form [formGroup]="formResena" class="mat-form">
        <h3>Calificar Libro</h3>
        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Calificación</mat-label>
            <input matInput type="number" [value]="rating" formControlName="rating" hidden />
            <div class="rating-choice">
                <ng-container *ngFor="let star of [1, 2, 3, 4, 5]; let i = index">
                    <i 
                        class="fas fa-star"
                        (click)="setRating(i + 1)" 
                        [ngStyle]="{ 'color': i < rating ? '#F5F378' : '#6C6C6C' }"
                        style="cursor: pointer; font-size: 24px;">
                    </i>
                </ng-container>
            </div>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Escribe tu reseña</mat-label>
            <textarea matInput formControlName="descripcion" rows="4" placeholder="Escribe tu reseña..." style="width: 100%;"></textarea>
        </mat-form-field>

        <h3>Otras reseñas:</h3>
        <div class="review-item d-flex align-items-start mb-3" *ngFor="let review of data.reviews">
            <img [src]="review.usuario.img" class="img-fluid rounded-circle me-3" alt="Usuario" style="width: 50px; height: 50px;">
            <div>
                <strong>{{ review.usuario.user }}</strong>
                <p>{{ review.descripcion }}</p>
                <div class="rating">
                    <ng-container *ngFor="let star of [1, 2, 3, 4, 5]; let i = index">
                        <i class="fas" 
                            [class.fa-star]="i < getValoracionAsNumber(review)" 
                            [class.fa-star-o]="i >= getValoracionAsNumber(review)">
                        </i>
                    </ng-container>
                </div>
            </div>
        </div>
    </form>
</div>

<mat-dialog-actions class="mat-footer">
    <button mat-button (click)="closeModal()">Cancelar</button>
    <button mat-button (click)="saveChanges()">Guardar Reseña</button>
</mat-dialog-actions>