.libro-container {
    background-color: #6C6C6C;
}


.libro-detail {
    background-color: #2b2b2b;
    padding: 30px;
    border-radius: 10px;
    max-width: 600px; 
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.book-titulo {
    font-size: 24px; 
    color: #F5F378;
    margin-bottom: 20px;
    font-weight: bold;
}

.libro-pic img {
    max-width: 280px;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    margin-bottom: 15px;
}

.libro-footer {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.autor {
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
}

.descripcion {
    color: #ffffff;
    font-size: 16px;
    margin-bottom: 20px;
    text-align: justify; 
}

.category,
.genero {
    color: #F5F378;
    font-size: 16px;
    font-weight: bold;
}

.reseñas {
    border-top: 1px solid #2b2b2b; 
    padding-top: 20px;
}

.reseña {
    background-color: #2b2b2b; 
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 10px;
}

.back-btn {
    padding: 10px 20px;
    background-color: #444;
    border: none;
    color: #f1f1f1;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 10px;
    transition: background-color 0.3s ease; 
}
