<section class="search-bar">
    <a (click)="goBack()" class="back-btn" style="cursor: pointer;">
        <i class="fa-solid fa-arrow-left"></i>
    </a>
    <input 
        type="text" 
        (input)="onSearch()"
        placeholder="Buscar..." 
        class="search-input" 
        [(ngModel)]="searchQuery" 
        (keyup.enter)="onSearch()">
    <button class="search-btn" (click)="onSearch()">
        <i class="fas fa-search"></i>
    </button>
    <div *ngIf="isAdmin()" class="btn-group">
        <button class="filter-btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-filter"></i>
        </button>
        <ul class="dropdown-menu dropdown-menu-dark">
            <li *ngFor="let option of filterOptions">
                <label class="dropdown-item">
                    <input 
                    type="radio" 
                    name="filter" 
                    [value]="option.value" 
                    (change)="onFilterChange(option.label, option.value)"> 
                    {{ option.label }}
                </label>
            </li>
        </ul>
    </div>
</section>