<div class="user-adm-item d-flex align-items-center" [attr.data-bs-target]="'#' + user.id" data-bs-toggle="collapse">
    <div class="user-info">
        <img [src]="user.img" alt="Usuario" class="user-image">
        <div class="user-details">
            <p>Usuario: {{ user.username }}</p>
            <p>Nombre: {{ user.name }}</p>
        </div>
        <!-- Ícono de estado de usuario -->
        <button class="status-icon" (click)="toggleLock()">
            <i class="fas" [ngClass]="user.locked ? 'fa-lock' : 'fa-unlock'" [ngStyle]="{'color': lockIconColor()}"></i>
        </button>
    </div>
</div>

<div [id]="user.id" class="collapse user-adm-dropdown">
    <div class="p-3">
        <p>Tel: {{ user.phone }}</p>
        <p>Email: {{ user.email }}</p>
        <p>DNI: {{ user.dni }}</p>
        <div class="user-actions">
            <a routerLink="/prestamo/1/admin" class="btn btn-link">Ver Préstamos ></a>
            <a routerLink="" class="btn btn-link">Ver Reseñas ></a>
            <a href="#" class="btn btn-link role">Rol: {{ user.role }}</a>
        </div>
    </div>
</div>