.user-adm-item {
    display: flex;
    flex-direction: row;
    align-items: center; /* Alinea verticalmente todos los elementos dentro del contenedor */
    background-color: #444;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative; 
    transition: transform 0.3s ease;
}

.user-adm-item:hover {
    transform: translateY(-5px);
}

.user-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
}

.user-details {
    flex-grow: 1; /* Hace que este div ocupe todo el espacio disponible */
}

.user-details p {
    color: white;
    margin: 0;
}

/* Estilo para el dropdown */
.user-adm {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.user-adm-item:hover {
    transform: translateY(-5px);
}

.user-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
    object-fit: cover;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-details {
    color: #fff;
}

/* Dropdown usuario */
.user-adm-dropdown {
    background-color: #6C6C6C;
    border-radius: 0 0 10px 10px;
    margin-top: 0;
    overflow: hidden;
    padding-top: 0;
}

.user-adm-dropdown p {
    margin: 5px 0;
    color: #ddd;
}

/* Acciónes del admin sobre usuario */
.user-actions {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.user-actions .btn-link {
    color: #F5F378;
    text-decoration: none;
    font-weight: bold;
}

.user-actions .btn-link:hover {
    text-decoration: underline;
    color: #e5e05e;
}

.role {
    color: #fff;
}

.book-image {
    width: 120px;
    height: 160px;
    margin-right: 20px;
    border-radius: 10px;
    flex-shrink: 0;
}

/* Reseñas css */
.rating {
    display: flex;
    gap: 5px;
}

.rating i {
    color: #ffdd57;
}


@media (max-width: 576px) {
    .user-info {
        flex-direction: column; 
        align-items: center; 
        text-align: center; 
    }
    .user-adm-item{
        justify-content: center;
    }

    .user-image {
        margin-right: 0;
        margin-bottom: 10px; 
        margin-top: 10px;
    }
}
