<div class="loans-item d-flex mb-1">
    <img [src]="loan.libro[0].img" [alt]="loan.libro[0].titulo" class="img-fluid">
    <div class="loans-info">
        <p><b>Usuario:</b><a href="#"> {{ loan.usuario.user }}</a></p>
        <p><b>Libro:</b> {{ loan.libro[0].titulo }}</p>
        <p><b>Inicio Préstamo:</b> {{ loan.inicio_prestamo }}</p>
        <p><b>Fin Préstamo:</b> {{ loan.fin_prestamo }}</p>
        <p><b>Estado:</b> {{ loan.estado }}</p>
    </div>
    <!-- para Administrador -->
    <div class="edit-delete d-flex">
        <app-edit-delete (editDelete)="handleEditDelete($event)" class="ms-auto"></app-edit-delete>
        <!-- para Usuario -->
        <span *ngIf="isUser()" class="edit-link" (click)="resenaClick()">
            Realizar Reseña >
        </span>
    </div>
</div>